@charset "UTF-8";
#home_design {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  align-items: center;
  justify-content: space-evenly;
  
}
#intro h4 {
  margin-bottom: 20px;
}
#intro h1 {
    margin-bottom:20px;
    font-size: 90px;
}

#intro p {
    margin-left:20px;
    margin-top:20px;
    font-size: 15px;
}
#pic img {
  width: 250px;
  border-radius: 50%;
}



footer{
  background-color: black;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  margin-top:266px;

}
footer p{
  padding:35px;
}


@media (max-width: 600px) {
    #home_design {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 200px;
        align-items: center;
        justify-content: space-evenly;
      }

      #pic img {
        width: 250px;
        border-radius: 50%;
      }

      #intro p {
        margin-left:20px;
        margin-top:20px;
        font-size: 15px;
        margin-bottom: 40px;
    }
   
}