@charset "UTF-8";
@media screen and (max-width: 768px) {
  #home_design {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-top:0;
    padding-bottom:25px;
  }

  #pic img {
    width: 250px;
    border-radius: 50%;
  }

  #intro p {
    margin-left: 190px;
    margin-top: 20px;
    font-size: 15px;
    
  }
  h5 {
    padding-top: 20px;
    padding-bottom: 13px;
  }
  footer {
    margin-top: auto;
  }
}
